@import "tailwindcss";
@layer theme {
  @custom-media --3xl (width >= 1800px);
  @custom-media --4xl (width >= 2200px);
  @custom-media --5xl (width >= 2560px);
}


/* --- Reset visual básico --- */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #171717;
}